:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --header-color: #ececec;
  --accent-color: #2196f3;
  --background-footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #000000;
  --main-font: Roboto, sans serif;
  --backround-color: #ffffff;
  --logo-color: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*---- header------- */

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo:hover,
.header-logo:focus {
  color: #188ce8;
}

.first-part {
  color: #2196f3;
}
.last-part {
  color: #000000;
}

.current a {
  color: var(--accent-color);
}

.header-nav-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-link-mail {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*------ main------- */

.hero {
  background-color: #2f303a;
}

.hero-first-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--backround-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: #2196f3;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* --benefits-- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefits-pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* --galery-- */

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

/* --team-- */

.our-team {
  background-color: #f5f4fa;
}

.about-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.about-pre-title {
  font-size: 16;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* -----footer------- */
.footer {
  background-color: var(--background-footer-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.first-part {
  color: #2196f3;
}
.second-part {
  color: #ffffff;
}
.footer-link-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link .footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

/* --portfolio-- */

.list {
  list-style: none;
}
link {
  text-decoration: none;
}
.current a {
  color: #2196f3;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.first-part {
  color: #2196f3;
}
.last-part {
  color: #212121;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-link-mail {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* --main-- */

.btn-main {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.btn-main:hover,
.btn-main:focus {
  background: #188ce8;
  color: #ffffff;
}

.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--logo-text-color);
}

.hero-pre-title {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* --footer--*/

footer {
  background-color: var(--background-footer-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.first-part {
  color: #2196f3;
}
.second-part {
  color: #ffffff;
}

.footer-link-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link,
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
